<div class="forms-grid row g-3">
  <form class="card col-12 col-lg-6" (ngSubmit)="isRegisterMode() ? register() : login()">
    <h2>
      <i
        [class]="isRegisterMode() ? 'fa-solid fa-user-plus me-2' : 'fa-solid fa-right-to-bracket me-2'">
      </i>

      {{ isRegisterMode() ? 'Registro' : 'Acceder' }}
    </h2>

    @if (isRegisterMode()) {
      <input
        class="form-control"
        [(ngModel)]="authForm.name"
        name="name"
        placeholder="Nombre"
        required />
    }

    <input
      class="form-control"
      [(ngModel)]="authForm.email"
      name="email"
      placeholder="Email"
      type="email"
      required />

    <input
      class="form-control"
      [(ngModel)]="authForm.password"
      name="password"
      placeholder="Contraseña"
      type="password"
      required />

    <button class="btn btn-primary" type="submit">
      {{ isRegisterMode() ? 'Registrarme' : 'Entrar' }}
    </button>

    <div class="mt-3 d-flex flex-wrap gap-2">
      <button
        class="btn btn-link text-white-50 p-0"
        type="button"
        (click)="toggleMode()">

        <i
          [class]="isRegisterMode() ? ' fa-solid fa-right-to-bracket me-2' : 'fa-solid fa-user-plus me-2'">
        </i>

        {{ isRegisterMode() ? 'Ya tengo cuenta' : 'Registrarse' }}
      </button>
    </div>
  </form>
</div>